<h1>New User!</h1>

<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <label for="user_email">Email</label>
  <input
    type="text"
    name="user[email]"
    value="<%= @user.email %>"
    id="user_email">
    <br>

  <label for="user_real_name">Real Name</label>
  <input
    type="text"
    name="user[real_name]"
    value="<%= @user.real_name %>"
    id="user_real_name">
    <br>

  <label for="user_age">Age</label>
  <input
    type="text"
    name="user[age]"
    value="<%= @user.age %>"
    id="user_age">
    <br>

  <label for="user_location">Location</label>
  <input
    type="text"
    name="user[location]"
    value="<%= @user.location %>"
    id="user_location">
    <br>


  <label for="user_password">Password</label>
  <input
    type="password"
    name="user[password]"
    id="user_password">

    <input type="hidden" name="user[type_id]" value="1">

  <input type="submit" value="Create User">
</form>
